[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
black = "==21.10b0"
werkzeug = "*"
flake8 = "*"
isort = "*"
xenon = "*"
ptpython = "*"

[packages]
falcon = "*"
validx = "*"
kombu = {extras = ["azure-servicebus"], version = "*"}
jsonschema = "*"
sentry-sdk = "*"
gunicorn = "*"

[requires]
python_version = "3.9"
